a{
	color: #CFCFCF;
	text-decoration: none;
}

body{
	background: linear-gradient(to bottom, #030303, #6A6868);
	color: #fff;
	font-family: Verdana, Segoe, sans-serif;
	height: 100%;
	margin: 0;
	position: relative;
	text-align: center;
	width: 100%;
}

html{
	margin: 0;
	min-height: 100%;
	width: 100%;
}

h1{
	font-size: 250%;
}
.container{
	margin: 8%;
	position: relative;
	
}

.container > div{
	font-size: 200%;
	padding: 5px;
}

.container > .author{
	color: #fff;
	font-size: 0.8em;
	text-decoration: none;
}

/* The switch - the box around the slider */
.switch {
	float: right;
	position: relative;
	display: inline-block;
	margin-right: 5px;
	width: 34px;
	height: 60px;
	background: #ccc;
}



/* The slider */
.slider {
 
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
  height: 50%;
  width: 100%;
  color: #ccc;
  font-family: 	sans-serif;
}


